$SourceSansPro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;
$contentIndent: 190px;
$underlineColor: #ff4e33;
$btnColor: #e3ac00;
$imgLogoWidth: 56px;
$bgSource: '../img/m-h-night.jpg';
$primeTxtColor: #ffffff;
$bgColor: #21232e;
$cardBgColor: #3b3f50;
$bodyFont: $Fresca;
$gradient:linear-gradient(to right,#db9f09, #942e50);
$sizes: (
    contentWidth: 80%,
    maxContentWidth: 1538px
);