$SourceSansPro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;
$contentIndent: 190px;
$underlineColor: #14a0c7;
$btnColor: #699900;
$imgLogoWidth: 56px;
$bgSource: '../img/m-h-day.jpg';
$primeTxtColor: #2c2f3c;
$bgColor: #ffffff;
$cardBgColor: #21232e;
$bodyFont: $SourceSansPro;
$gradient:linear-gradient(to right,#62911b, #2c5adb);
$sizes: (
    contentWidth: 80%,
    maxContentWidth: 1538px
);

